@import '@/assets/colors.module.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	border-radius: 50%;
	border: none;
	background-color: $white-color;
	color: $text-primary-color;
	padding: 10px;
	width: 30px;
	height: 30px;
	outline: none;
	cursor: pointer;

	&:hover {
		
	}

	&Disabled {
		opacity: .7;
		pointer-events: none;
	}
}