@import '/src/assets/colors.module.scss';

.layout {
	width: 100px;
	height: 120px;
	background: var(--primary-color);
	border-radius: 3px;
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	transition: .3s;

	&:focus {
		outline: none;
		background: var(--accent-color);
	}

	&:hover, &:active {
		background: var(--dark-primary-color);
	}

	&:disabled {
		pointer-events: none;
	}

}

.number {
	padding-top: 30px;
	font-size: 2em;
}

.text {
	width: 100%;
	text-align: center;
	font-size: 13px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	border-radius: 50%;
	border: none;
	background-color: $text-color;
	color: $text-primary-color;
	padding: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;

	&Disabled {
		opacity: .7;
		pointer-events: none;
	}
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}