$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$primary-color: #F44336;
$white-color: #FFFFFF;
$text-primary-color: #212121;
$accent-color: #FF4081;
$text-secondary-color: #757575;
$divider-color: #BDBDBD;
$black-color: #000;

$green-primary-color: #4CAF50;
$green-light-primary-color: #C8E6C9;
$green-dark-primary-color: #388E3C;
$green-accent-color: #8BC34A