$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$primary-color: #F44336;
$text-color: #FFFFFF;
$text-primary-color: #212121;
$accent-color: #FF4081;
$text-secondary-color: #757575;
$divider-color: #BDBDBD;
$color-black: #000;