$dark-primary-color: #d32f2f;
$light-primary-color: #ffcdd2;
$primary-color: #f44336;
$white-color: #ffffff;
$text-primary-color: #212121;
$accent-color: #ff4081;
$text-secondary-color: #757575;
$divider-color: #bdbdbd;
$black-color: #000;
$page-color: #1a1a1a;
// #393838

$green-primary-color: #4caf50;
$green-light-primary-color: #c8e6c9;
$green-dark-primary-color: #388e3c;
$green-accent-color: #8bc34a;
