@import "@/assets/colors.module.scss";
@import "@/assets/media.module.scss";

.layout {
  background: $page-secondary-color;
  padding: 10px;
  justify-content: center;
  border-radius: 3px;
  color: $white-color;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  column-gap: 20px;
  transition: 0.3s;

  &:focus {
    outline: none;
    background: var(--accent-color);
  }

  &:disabled {
    pointer-events: none;
  }

  @media screen and (max-width: $break-point-mobile) {
    padding: 5px;
  }
}

.button {
  font-size: 1.2em;
  padding: 8px 13px;
  border: none;
  color: $white-color;
  cursor: pointer;
  border-radius: 3px;
  background-color: $button-primary-color;
  opacity: 0.5;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &Active {
    opacity: 1;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: $break-point-mobile) {
    font-size: 14px;
    padding: 4px 7px;
  }
}
